/* MAIN CONGIF */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-10 {
  padding: 10px 0;
}

.my-20 {
  padding: 20px 0;
}

.my-30 {
  padding-top: 30px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #eee;
}

p {
  margin-bottom: 0.8rem;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

strong {
  color: #f1c40f;
  font-weight: 400;
}

/* NAVBAR  AND IMAGE COVER */

header {
  height: 6rem;
  width: 100%;
  background: #333;
  display: flex;
}

.header-contain {
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
  align-items: center;
  padding-left: 2.5rem;
}

.header-contain i {
  color: #f1c40f;
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
}

.header-contain h1 {
  padding-left: 0.5rem;
  font-family: "Long Cang", sans-serif;
  font-size: 3.5rem;
}

.header-contain h1 a {
  color: white;
  font-weight: 300;
}

.nav-contain {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.nav-contain li a {
  padding-right: 2.5rem;
  color: white;
}

.nav-contain li a:hover {
  color: #f1c40f;
}

/* BACKGROUND CONTAINER */

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.background-container {
  background: url(../img/frame.jpg) center center/cover;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.bground-content {
  width: 800px;
  text-align: center;
}

.bground-content h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.bground-content p {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
  text-shadow: 2px -1px 1px rgba(0, 0, 0, 1);
}

/* OFFER CONTAINER */

.offer-section {
  padding: 10rem;
}

.title-offer {
  margin: 0rem 0 2rem 15%;
  font-weight: 400;
}

.offer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.offer-content {
  margin: 1rem;
  margin-top: 2.5rem;
  background: white;
  text-align: center;
  height: 25.1rem;
  border: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
}

.offer-content img {
  max-width: 22rem;
}

.offer-content:hover {
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4);
}

.separator {
  width: 50px;
  height: 1px;
  background: black;
  margin: 0.8rem 0 0.8rem 9.16rem;
}

/* TEAM SECTION */

.team-section {
  display: flex;
  flex-direction: row;
}

.team-section img {
  width: 45%;
}

.team-content {
  width: 55%;
  height: 62vh;
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-content h2,
.team-content p {
  width: 950px;
  padding-left: 5.8rem;
}

.team-content h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.team-content p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.7rem;
}

/* ADVICE SECTION  */

.advice-section {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advice-content {
  background: white;
  padding: 3rem;
  margin-bottom: 2rem;
  width: 65%;
}

.advice-content img {
  max-width: 2.5rem;
  border-radius: 2rem;
  margin-left: 1.6rem;
}

.advice-content h3 {
  margin-bottom: 0.2rem;
}

/* CONTACT */

.underline {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.contact {
  background: #333;
  color: white;
  padding: 10rem;
  padding-left: 32rem;
}

.contact-form-container {
  max-width: 60rem;
}

.contact-form-container form label {
  display: block;
  font-weight: 700;
}

.contact-form-container form input,
textarea {
  color: white;
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  background: #333;
}

.contact-form-container form textarea {
  min-height: 150px;
}

/* FOOTER */

.footer {
  height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #444;
  color: white;
}

.btn {
  color: white;
  border-radius: 0.25rem;
  margin-top: 0.2rem;
  background: #f1c40f;
  height: 2rem;
  width: 10rem;
  display: block;
  text-align: center;
  padding-top: 0.34rem;
  margin-left: 49.9rem;
  font-weight: 600;
}

.btn:hover {
  background: red;
}
