/* MAIN CONGIF */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-30 {
  padding-top: 30px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #eee;
}

p {
  margin-bottom: 0.8rem;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

strong {
  color: #f1c40f;
  font-weight: 400;
}

/* NAVBAR  AND IMAGE COVER */

header {
  height: 6rem;
  width: 100%;
  background: #333;
  display: flex;
}

.header-contain {
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
  align-items: center;
  padding-left: 2.5rem;
}

.header-contain i {
  color: #f1c40f;
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
}

.header-contain h1 {
  padding-left: 0.5rem;
  font-family: "Long Cang", sans-serif;
  font-size: 3.5rem;
}

.header-contain h1 a {
  color: white;
  font-weight: 300;
}

.nav-contain {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.nav-contain li a {
  padding-right: 2.5rem;
  color: white;
}

.nav-contain li a:hover {
  color: #f1c40f;
}

/* BACKGROUND CONTAINER */

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.background-container {
  background: url(../img/frame.jpg) center center/cover;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.bground-content {
  width: 800px;
  text-align: center;
}

.bground-content h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.bground-content p {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
  text-shadow: 2px -1px 1px rgba(0, 0, 0, 1);
}

/* OFFER CONTAINER */

.title-offer {
  margin: 10rem 0 2rem 20%;
  font-weight: 400;
}

.offer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.offer-content {
  margin: 1rem;
  margin-top: 2.5rem;
  margin-bottom: 13rem;
  background: white;
  text-align: center;
  height: 25.1rem;
  border: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
}

.offer-content img {
  max-width: 22rem;
}

.separator {
  width: 50px;
  height: 1px;
  background: black;
  margin: 0.8rem 0 0.8rem 9.16rem;
}
